@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i");
/* line 3, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
html {
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 7, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
.main-panel > .content {
  padding: 0;
  background: transparent;
}

/* line 12, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
#logo {
  background-image: url("/static/images/logo.png");
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
}

/* line 20, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
a {
  text-decoration: none;
  color: #26a8dd;
  transition: .5s;
}

/* line 25, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
a:hover {
  color: #2091bf;
}

/* line 1, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction {
  border-bottom: 1px solid #ececec;
  padding: 20px 0;
  height: 85px;
  width: 100%;
}

/* line 7, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction:hover {
  transition-property: background-color;
  transition-duration: .5s;
  background-color: #ececec;
}

/* line 13, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction > a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* line 22, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .icon {
  width: 100px;
  order: 0;
}

/* line 26, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .icon > .placeholder-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 100px;
  border: 0px solid #fff;
  background-color: #37a261;
  content: "EG";
  text-transform: uppercase;
  font-weight: 600;
}

/* line 38, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .icon > .merchant-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-size: contain;
  border-radius: 5px;
}

/* line 47, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .info {
  order: 1;
}

/* line 49, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .info h6 {
  text-transform: none;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

/* line 55, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .info p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

/* line 63, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies {
  order: 2;
  position: absolute;
  right: 20px;
}

/* line 68, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  float: right;
  margin-left: 15px;
}

/* line 75, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul.is-load {
  color: #37a261;
}

/* line 79, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul > .monies-non-decimal,
.transaction .monies ul .monies-direction {
  font-size: 28px;
  font-weight: 300;
}

/* line 84, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul > .monies-decimal {
  font-size: 15px;
  font-weight: 400;
  padding-top: 13px;
}

/* line 94, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > #map {
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  border-bottom: 1px solid #aaa;
}

/* line 104, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay {
  position: relative;
  margin-top: 200px;
  background: transparent;
}

/* line 109, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay > .icon-container {
  margin: 0 auto;
}

/* line 112, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay > .icon-container > .placeholder-icon {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 100px;
  border: 0px solid #fff;
  background-color: #37a261;
  content: "EG";
  text-transform: uppercase;
  font-weight: 600;
}

/* line 124, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay > .icon-container > .merchant-icon {
  width: 140px;
  height: 140px;
  background-size: contain;
  margin: 0 auto;
  border-radius: 15px;
}

/* line 134, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info {
  text-align: center;
}

/* line 137, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > h1 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 10px;
}

/* line 143, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > p {
  color: #89898e;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 149, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > .amount {
  margin: 0 auto;
  font-weight: 200;
}

/* line 153, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > .amount > .currency-glyph {
  font-size: 27px;
  color: #13223b;
}

/* line 157, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > .amount > .currency-value {
  font-size: 50px;
  color: #13223b;
}

/* line 1, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/partials/_alert.scss */
.alert {
  border: 1px solid #fff;
  border-radius: 6px;
  background: #fff;
  display: block;
  margin: 15px auto;
  padding: 6px 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 14px;
}

/* line 15, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/partials/_alert.scss */
.alert.alert-warning {
  border: 1px solid #f79d3f;
  background: #e6841e;
}

/* line 20, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/partials/_alert.scss */
.alert > strong {
  line-height: 1.6;
  font-size: 16px;
}

/*# sourceMappingURL=../css/core.map */