@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i");
/* line 3, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
html {
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* line 7, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
.main-panel {
  background: white;
}

/* line 10, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
.main-panel > .content {
  padding: 0;
  background: transparent;
}

/* line 16, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
#logo {
  background-image: url("/static/images/logo.png");
  background-size: 100px 100px;
  background-position: center;
  background-repeat: no-repeat;
  height: 140px;
}

/* line 24, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
a {
  text-decoration: none;
  color: #26a8dd;
  transition: .5s;
}

/* line 29, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
a:hover {
  color: #2091bf;
}

/* line 35, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
.btn {
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
}

/* line 40, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/core.scss */
.btn.btn-info {
  background: #00A4DB;
  color: white;
  border: 0;
}

/* line 1, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview {
  background: #14233c;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

/* line 9, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview .desc {
  text-transform: uppercase;
  font-size: 12px;
  color: #727b8a;
}

/* line 15, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview ul {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: -5px;
  padding: 0;
}

/* line 25, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview ul > .currency-glyph {
  margin-top: 21px;
  font-size: 16px;
  padding-right: 2px;
}

/* line 30, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview ul > .amount-integer {
  font-size: 35px;
}

/* line 33, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview ul > .amount-fractional {
  margin-top: 21px;
  font-size: 16px;
}

/* line 39, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview > .account-balance {
  order: 0;
  margin-right: auto;
  margin-top: 15px;
  margin-left: 20px;
}

/* line 45, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview > .transaction-history {
  order: 1;
}

/* line 48, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview > .spent-today {
  order: 2;
  text-align: right;
  margin-top: 15px;
  margin-right: 20px;
}

/* line 54, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.account-overview > .spent-today > ul {
  flex-direction: row-reverse;
}

/* line 60, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.time-devide {
  border-bottom: 1px solid #ececec;
  background: #efefef;
  color: #14233c;
  height: 50px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
}

/* line 74, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction {
  border-bottom: 1px solid #ececec;
  padding: 20px 0;
  height: 85px;
  width: 100%;
}

/* line 80, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction:hover {
  transition-property: background-color;
  transition-duration: .5s;
  background-color: #ececec;
}

/* line 86, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction > a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/* line 95, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .icon {
  width: 100px;
  order: 0;
}

/* line 99, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .icon > .placeholder-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 100px;
  border: 0px solid #fff;
  background-color: #37a261;
  content: "EG";
  text-transform: uppercase;
  font-weight: 600;
}

/* line 111, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .icon > .merchant-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-size: contain;
  border-radius: 5px;
}

/* line 120, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .info {
  order: 1;
}

/* line 122, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .info h6 {
  text-transform: none;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

/* line 128, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .info p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

/* line 136, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies {
  order: 2;
  position: absolute;
  right: 20px;
}

/* line 141, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul {
  display: flex;
  list-style-type: none;
  text-align: right;
  float: right;
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

/* line 150, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul.is-load {
  color: #37a261;
}

/* line 154, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul > .monies-non-decimal,
.transaction .monies ul .monies-direction {
  font-size: 28px;
  font-weight: 300;
}

/* line 159, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction .monies ul > .monies-decimal {
  font-size: 15px;
  font-weight: 400;
  padding-top: 14px;
}

/* line 169, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > #map {
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #eee;
  border-bottom: 1px solid #aaa;
}

/* line 179, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay {
  position: relative;
  margin-top: 195px;
  background: transparent;
}

/* line 184, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay > .icon-container {
  margin: 0 auto;
}

/* line 187, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay > .icon-container > .placeholder-icon {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  border-radius: 100px;
  border: 0px solid #fff;
  background-color: #37a261;
  content: "EG";
  text-transform: uppercase;
  font-weight: 600;
}

/* line 199, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .icon-overlay > .icon-container > .merchant-icon {
  width: 140px;
  height: 140px;
  background-size: contain;
  margin: 0 auto;
  border-radius: 15px;
}

/* line 209, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info {
  text-align: center;
}

/* line 212, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > h1 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 10px;
}

/* line 218, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > p {
  color: #89898e;
  font-size: 14px;
  margin-bottom: 5px;
}

/* line 224, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > .amount {
  margin: 0 auto;
  font-weight: 200;
}

/* line 228, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > .amount > .currency-glyph {
  font-size: 27px;
  color: #13223b;
}

/* line 232, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/_transactions.scss */
.transaction-detailed > .info > .amount > .currency-value {
  font-size: 50px;
  color: #13223b;
}

/* line 1, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/partials/_alert.scss */
.alert {
  border: 1px solid #fff;
  border-radius: 6px;
  background: #fff;
  display: block;
  margin: 15px auto;
  padding: 6px 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 14px;
}

/* line 15, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/partials/_alert.scss */
.alert.alert-warning {
  border: 1px solid #f79d3f;
  background: #e6841e;
}

/* line 20, /Users/alex/Source/go/src/github.com/0xdeafcafe/web-monzo/static/scss/partials/_alert.scss */
.alert > strong {
  line-height: 1.6;
  font-size: 16px;
}

/*# sourceMappingURL=../css/core.map */