{{ define "content" }}
	{{ range $transaction := .transactions }}
	<div class="transaction">
		<div class="info col-md-10">
			{{ if eq $transaction.Notes "" }}
				<h6>
					{{ $transaction.FriendlyName }}
				</h6>
			{{ end }}
			{{ if notEq $transaction.Notes "" }}
				<h6>
					{{ $transaction.FriendlyName }}
				</h6>
				<p>
					{{ $transaction.Notes }}
				</p>
			{{ end }}
		</div>
		<div class="monies col-md-2">
			{{ if greaterThan $transaction.Amount 0}}
				<ul class="is-load pull-right">
					<li class="monies-direction">+</li>
					<li class="monies-non-decimal">{{ $transaction.FriendlyAmount }}</li>
					<li class="monies-decimal">{{ $transaction.FriendlyDecimalAmount }}</li>
				</ul>
			{{ end }}
			{{ if lessThanOrEq $transaction.Amount 0}}
				<ul class="pull-right">
					<li class="monies-non-decimal">{{ $transaction.FriendlyAmount }}</li>
					<li class="monies-decimal">{{ $transaction.FriendlyDecimalAmount }}</li>
				</ul>
			{{ end }}
		</div>
		<div class="clearfix"></div>
	</div>
	{{ end }}
{{ end }}
