@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i');

html {
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-panel > .content {
	padding: 0;
	background: transparent;
}

#logo {
	background-image: url('/static/images/logo.png');
	background-size: 100px 100px;
	background-position: center;
	background-repeat: no-repeat;
	height: 140px;
}

a {
	text-decoration: none;
	color: #26a8dd;
	transition: .5s;

	&:hover {
		color: #2091bf;
	}
}

@import 'transactions';
@import 'partials/alert';
